In [1]:
import pandas as pd
import numpy as np

In [2]:
chemin_bd = r"./bd_ignore/"

In [3]:
df_merge2_gros = pd.read_csv(chemin_bd + 'resultat/df_merge2a.csv')

In [4]:
df_merge2_gros.head()

,Unnamed: 0,tconst,titleType,originalTitle,startYear,runtimeMinutes,genres,nconst,category,primaryName,primaryProfession
0,0,tt0000005,short,Blacksmith Scene,1893.0,1,"Comedy,Short",nm0443482,actor,Charles Kayser,actor
1,1,tt0000005,short,Blacksmith Scene,1893.0,1,"Comedy,Short",nm0653042,actor,John Ott,actor
2,2,tt0000007,short,Corbett and Courtney Before the Kinetograph,1894.0,1,"Short,Sport",nm0179163,actor,James J. Corbett,"actor,writer,archive_footage"
3,3,tt0000007,short,Corbett and Courtney Before the Kinetograph,1894.0,1,"Short,Sport",nm0183947,actor,Peter Courtney,actor
4,4,tt0000008,short,Edison Kinetoscopic Record of a Sneeze,1894.0,1,"Documentary,Short",nm0653028,actor,Fred Ott,"assistant_director,archive_footage"

In [6]:
df_merge2_gros2 = df_merge2_gros.copy()

In [8]:
df_merge2_gros2['runtimeMinutes'].unique()

array(['1', '45', '\\N', '3', '2', '13', '6', '5', '4', '40', '10', '9',
       '11', '16', '8', '14', '7', '24', '100', '15', '17', '70', '90',
       '12', '20', '120', '18', '19', '44', '38', '58', '22', '33', '25',
       '50', '28', '34', '35', '42', '23', '30', '51', '52', '60', '36',
       '92', '56', '26', '53', '31', '41', '48', '68', '21', '29', '71',
       '43', '46', '27', '32', '113', '55', '150', '300', '121', '89',
       '37', '69', '54', '64', '47', '96', '49', '61', '39', '101', '57',
       '99', '110', '85', '88', '86', '170', '63', '72', '78', '75',
       '450', '148', '80', '124', '220', '59', '112', '1428', '84', '65',
       '74', '105', '310', '73', '82', '81', '199', '139', '109', '67',
       '219', '195', '440', '77', '293', '97', '79', '62', '66', '250',
       '421', '360', '180', '93', '163', '400', '95', '83', '116', '320',
       '125', '76', '127', '138', '460', '350', '374', '480', '330', '87',
       '130', '600', '240', '117', '410', '135', '146', '104', '418',
       '106', '242', '223', '489', '102', '200', '98', '122', '115',
       '207', '166', '238', '111', '145', '131', '243', '133', '172',
       '167', '103', '94', '355', '206', '91', '157', '107', '165', '248',
       '235', '119', '184', '118', '108', '114', '380', '128', '143',
       '155', '137', '183', '210', '136', '417', '141', '162', '153',
       '129', '123', '151', '182', '140', '359', '126', '132', '179',
       '260', '230', '168', '160', '144', '159', '185', '156', '215',
       '177', '213', '149', '225', '147', '266', '152', '217', '158',
       '226', '134', '194', '216', '227', '231', '218', '246', '281',
       '208', '228', '229', '212', '236', '306', '257', '245', '197',
       '255', '142', '323', '305', '328', '176', '232', '258', '256',
       '303', '308', '224', '294', '268', '204', '298', '299', '264',
       '211', '302', '263', '265', '205', '154', '237', '285', '269',
       '267', '247', '186', '241', '289', '283', '290', '270', '251',
       '278', '196', '279', '261', '275', '280', '244', '189', '169',
       '284', '295', '201', '221', '192', '252', '171', '193', '287',
       '361', '175', '174', '173', '315', '190', '164', '239', '178',
       '161', '181', '188', '497', '327', '317', '191', '209', '434',
       '234', '288', '438', '393', '378', '316', '340', '203', '253',
       '344', '540', '476', '451', '321', '348', '890', '309', '653',
       '431', '390', '202', '187', '370', '396', '282', '467', '286',
       '770', '311', '500', '373', '596', '750', '273', '442', '599',
       '333', '614', '385', '780', '510', '271', '274', '262', '420',
       '291', '366', '742', '673', '358', '301', '233', '198', '752',
       '504', '520', '720', '313', '413', '700', '222', '391', '428',
       '437', '416', '367', '569', '371', '376', '870', '312', '407',
       '331', '375', '436', '353', '357', '873', '1290', '345', '318',
       '335', '624', '398', '272', '567', '606', '214', '384', '834',
       '522', '439', '314', '515', '620', '528', '336', '341', '568',
       '571', '556', '386', '383', '650', '343', '277', '698', '401',
       '377', '672', '465', '622', '296', '1352', '1320', '395', '339',
       '415', '259', '351', '1620', '388', '325', '254', '455', '554',
       '612', '616', '349', '458', '660', '1500', '475', '778', '1080',
       '495', '347', '382', '1800', '577', '307', '276', '2800', '491',
       '338', '840', '406', '776', '369', '297', '804', '445', '615',
       '392', '663', '693', '580', '544', '5220', '545', '640', '446',
       '372', '629', '678', '1300', '352', '689', '793', '2925', '608',
       '1170', '0', '701', '657', '249', '346', '738', '1970', '1200',
       '646', '459', '820', '704', '630', '408', '999', '402', '715',
       '514', '1664', '960', '1215', '625', '1710', '1035', '550', '1370',
       '1350', '1410', '1380', '1100', '364', '516', '705', '1196', '443',
       '765', '502', '8400', '541', '594', '414', '652', '1442', '598',
       '526', '487', '1773', '1932', '466', '4800', '363', '3900', '2150',
       '403', '552', '527', '636', '425', '575', '519', '530', '412',
       '506', '547', '800', '900', '441', '469', '429', '490', '551',
       '784', '990', '585', '623', '525', '337', '570', '1325', '324',
       '409', '1444', '479', '675', '1682', '362', '943', '933', '521',
       '1050', '1440', '468', '668', '712', '619', '950', '559', '736',
       '368', '405', '830', '452', '397', '1000', '1452', '676', '850',
       '507', '641', '342', '329', '553', '494', '332', '711', '484',
       '901', '930', '485', '292', '3000', '1560', '1680', '814', '605',
       '432', '590', '717', '998', '853', '1669', '558', '1210', '771',
       '1040', '326', '365', '304', '488', '695', '319', '447', '565',
       '381', '1020', '1234', '582', '645', '498', '810', '1005', '334',
       '14400', '481', '680', '379', '474', '448', '535', '512', '654',
       '1700', '799', '2007', '670', '913', '707', '661', '659', '524',
       '529', '572', '43200', '936', '1008', '536', '1285', '2565',
       '1151', '740', '354', '549', '627', '714', '5460', '453', '1175',
       '356', '471', '322', '542', '3825', '499', '1329', '1260', '1416',
       '430', '2160', '1750', '808', '1755', '1980', '2112', '716', '424'],
      dtype=object)

In [5]:
df_merge2_gros2.drop(columns=['Unnamed: 0','runtimeMinutes', 'nconst', 'category', 'primaryProfession'])

,tconst,titleType,originalTitle,startYear,genres,primaryName
0,tt0000005,short,Blacksmith Scene,1893.0,"Comedy,Short",Charles Kayser
1,tt0000005,short,Blacksmith Scene,1893.0,"Comedy,Short",John Ott
2,tt0000007,short,Corbett and Courtney Before the Kinetograph,1894.0,"Short,Sport",James J. Corbett
3,tt0000007,short,Corbett and Courtney Before the Kinetograph,1894.0,"Short,Sport",Peter Courtney
4,tt0000008,short,Edison Kinetoscopic Record of a Sneeze,1894.0,"Documentary,Short",Fred Ott
...,...,...,...,...,...,...
32534733,tt9916880,tvEpisode,Horrid Henry Knows It All,2014.0,"Adventure,Animation,Comedy",Joanna Ruiz
32534734,tt9916880,tvEpisode,Horrid Henry Knows It All,2014.0,"Adventure,Animation,Comedy",Joanna Ruiz
32534735,tt9916880,tvEpisode,Horrid Henry Knows It All,2014.0,"Adventure,Animation,Comedy",Joanna Ruiz
32534736,tt9916880,tvEpisode,Horrid Henry Knows It All,2014.0,"Adventure,Animation,Comedy",Emma Tate
32534737,tt9916880,tvEpisode,Horrid Henry Knows It All,2014.0,"Adventure,Animation,Comedy",Emma Tate

In [ ]:
df_merge2_gros2.to_csv(chemin_bd+"resultat2/df_merge2_gros2.csv", index=False)

In [ ]:
df_recom1 = pd.read_csv(chemin_bd+"resultat2/df_merge2_gros2.csv")

In [ ]:
df_recom1.info()

In [ ]:
df_recom1['startYear']

In [ ]:
df_recom1 = df_recom1.drop(columns = ['Unnamed: 0', 'runtimeMinutes', 'nconst', 'category'])

In [ ]:
df_recom2 = df_recom1[df_recom1['startYear'] > 1990]

In [ ]:
df_recom2

In [ ]:
df_recom2 = df_recom2.rename(columns={'tconst': 'imdb_id'})

In [5]:
df_tmdb_full = pd.read_csv(chemin_bd+"tmdb_full.csv")

/var/folders/4f/28z_1f6d67b_wy1qrp_rvp6w0000gn/T/ipykernel_39991/3110935534.py:1: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tmdb_full = pd.read_csv(chemin_bd+"tmdb_full.csv")

In [6]:
df_tmdb_full.head()

,adult,backdrop_path,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,production_companies_name,production_companies_country
0,False,/dvQj1GBZAZirz1skEEZyWH2ZqQP.jpg,0,['Comedy'],NaN,3924,tt0029927,en,Blondie,Blondie and Dagwood are about to celebrate the...,...,70,['en'],Released,The favorite comic strip of millions at last o...,Blondie,False,7.214,7,['Columbia Pictures'],['US']
1,False,NaN,0,['Adventure'],NaN,6124,tt0011436,de,Der Mann ohne Namen,NaN,...,420,[],Released,NaN,"Peter Voss, Thief of Millions",False,0.000,0,[],[]
2,False,/uJlc4aNPF3Y8yAqahJTKBwgwPVW.jpg,0,"['Drama', 'Romance']",NaN,8773,tt0055747,fr,L'Amour à vingt ans,Love at Twenty unites five directors from five...,...,110,"['it', 'ja', 'pl', 'fr', 'de']",Released,The Intimate Secrets of Young Lovers,Love at Twenty,False,6.700,41,"['Ulysse Productions', 'Unitec Films', 'Cinese...","['', 'NZ', 'IT', 'JP', 'DE', 'PL', '']"
3,False,/hQ4pYsIbP22TMXOUdSfC2mjWrO0.jpg,0,"['Drama', 'Comedy', 'Crime']",NaN,2,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,...,73,['fi'],Released,NaN,Ariel,False,7.046,248,['Villealfa Filmproductions'],['FI']
4,False,/l94l89eMmFKh7na2a1u5q67VgNx.jpg,0,"['Drama', 'Comedy', 'Romance']",NaN,3,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",...,76,['en'],Released,NaN,Shadows in Paradise,False,7.182,269,['Villealfa Filmproductions'],['FI']

In [ ]:
df_tmdb_moins = df_tmdb_full.drop(columns = ['backdrop_path', 'budget','id', 'runtime', 'status', 'video', 'vote_average',
                   'vote_count','production_companies_name', 'production_companies_country', 'popularity', 'production_countries'])

In [ ]:
# Supprimer les lignes où 'release_date' est nul
df_tmdb_moins = df_tmdb_moins[df_tmdb_moins['release_date'].notna()]

In [ ]:
# Convertir la colonne 'release_date' en format datetime
df_tmdb_moins['release_date'] = pd.to_datetime(df_tmdb_moins['release_date'], errors='coerce')

# Sélectionner les lignes où 'release_date' est après 1990
df_tmdb_1990 = df_tmdb_moins[df_tmdb_moins['release_date'] > '1990-01-01']

In [ ]:
df_tmdb_1990.isna().sum()

In [ ]:
merge_recom = pd.merge(df_tmdb_1990, df_recom2, on='imdb_id', how='inner')

In [ ]:
merge_recom.isna().sum()

In [ ]:
len(merge_recom)

In [ ]:
merge_recom.to_csv(chemin_bd+"resultat2/merge_recom.csv", index=False)

In [ ]:
df_merge_recom = pd.read_csv(chemin_bd+"resultat2/merge_recom.csv")

In [ ]:
df_merge_recom['genres_y'].unique