In [28]:
import pandas as pd
from datetime import datetime

In [3]:
# chemin_bd = r"/Users/anaellepinceloup/Documents/GitHub/IMBd_a_ignorer_df/"
#chemin_bd = r"C:/Users/aure_/OneDrive/Documents/GitHub/projet2_WAAA/IMBd_a_ignorer_df/"
chemin_bd = r"C:/Users/Lahbib/Documents/GitHub/projet2_WAAA/IMBd_a_ignorer_df/"

In [4]:
df_title_principals= pd.read_csv(chemin_bd + 'title.principals.tsv.gz', compression='gzip', sep='\t')

In [5]:
df_name_basics = pd.read_csv(chemin_bd + 'name.basics.tsv.gz', compression='gzip', sep='\t')

In [6]:
df_title_basics= pd.read_csv(chemin_bd + 'title.basics.tsv.gz', compression='gzip', sep='\t')

C:\Users\Lahbib\AppData\Local\Temp\ipykernel_5944\234301865.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_title_basics= pd.read_csv(chemin_bd + 'title.basics.tsv.gz', compression='gzip', sep='\t')

In [7]:
df_annee = df_title_basics.copy()

In [25]:
df_annee['startYear'].isna().any()
    #print("Il y a des valeurs manquantes dans la colonne.")

False

In [26]:
df_annee['startYear'].value_counts()

startYear
\N      1417048
2021     499477
2022     479004
2018     453266
2019     448662
         ...
1889          2
1874          1
1883          1
2031          1
1885          1
Name: count, Length: 152, dtype: int64

In [23]:


df_annee['startYear'] = df_annee['startYear'].replace('\\N', pd.NaT)

In [24]:
df_annee['startYear'].unique()

array(['1894', '1892', '1893', '1895', '1896', '1898', '1897', '1900',
       '1899', '1901', '1902', '1903', '1905', '1904', '1912', '1907',
       '1906', '1908', '1910', '1909', NaT, '1911', '1990', '1914',
       '1913', '1915', '1919', '1916', '1917', '1918', '1936', '1925',
       '1922', '1920', '1921', '1923', '1924', '1928', '2019', '1926',
       '1927', '1929', '2000', '1993', '1935', '1930', '1942', '1934',
       '1931', '1939', '1932', '1937', '1933', '1950', '1938', '1951',
       '1945', '1946', '1940', '1944', '1949', '1947', '1941', '1952',
       '1970', '1957', '1943', '1959', '1948', '2001', '1953', '1954',
       '1965', '1983', '1980', '1973', '1961', '1995', '1955', '1964',
       '1958', '1956', '1962', '1960', '1977', '2012', '1967', '1968',
       '2007', '1963', '1988', '1971', '1986', '1969', '1972', '1966',
       '2021', '2023', '1976', '2016', '2020', '1979', '1974', '1978',
       '1981', '1975', '2014', '1989', '1985', '1987', '2015', '2010',
       '2018', '1996', '1984', '1992', '2022', '1982', '1991', '1994',
       '2008', '1999', '2005', '2003', '1998', '2002', '2024', '1997',
       '2009', '2004', '2017', '2013', '2006', '2011', '1891', '2025',
       '1888', '1890', '2026', '1889', '2027', '2028', '1878', '1882',
       '1881', '2030', '1887', '2029', '1874', '1883', '2031', '1885'],
      dtype=object)

In [25]:
df_annee.loc[df_annee['startYear']=='\\N'].sum()

tconst            0
titleType         0
primaryTitle      0
originalTitle     0
isAdult           0
startYear         0
endYear           0
runtimeMinutes    0
genres            0
dtype: object

In [26]:
df_annee['startYear'] = pd.to_datetime(df_annee['startYear'], format = "%Y")

In [35]:
df_title_basics['startYear']

0           1894
1           1892
2           1892
3           1892
4           1893
            ...
11248094    2009
11248095    2010
11248096    2010
11248097    2015
11248098    2014
Name: startYear, Length: 11248099, dtype: object

In [37]:
df_combined = pd.merge(df_title_principals,df_name_basics, left_on='nconst', right_on='nconst')

In [8]:
top_actors = df_name_basics['primaryName'].value_counts().head(10)
top_actors

primaryName
Alex             528
Michael Smith    446
David            439
Chris            437
Michael          436
David Smith      430
John             400
Mike             394
Chris Smith      370
David Brown      364
Name: count, dtype: int64

In [ ]:
df_title_basics['startYear'].info()
df_title_basics['startYear']

<class 'pandas.core.series.Series'>
RangeIndex: 11248099 entries, 0 to 11248098
Series name: startYear
Non-Null Count     Dtype
--------------     -----
11248099 non-null  object
dtypes: object(1)
memory usage: 85.8+ MB

In [ ]:
df_combined = pd.merge(df_title_principals, df_name_basics, left_on='nconst', how='inner')
df_combined = pd.merge(df_combined, df_title_basics, left_on='tconst', how='inner')

#df_actors = df_combined[df_combined['category'] == 'actor'] 
df_title_basics['year'] = df_title_basics['startYear']['year'].dt.year

top_actors['decade'] = (top_actors['startYear'] // 10) * 10

actor_activity = top_actors.groupby(['primaryName', 'decade']).size().reset_index(name='appearances')

top_actors_by_decade = actor_activity.sort_values(by='appearances', ascending=False).groupby('decade').head(10)

top_actor_decade = actor_activity[actor_activity['primaryName'].isin(top_actors)]

MergeError: Must pass "right_on" OR "right_index".

In [ ]:
# JOINTURES
df_merge2 = pd.merge(df_title_principals, df_title_basics, on='tconst', how='inner')
df_merge1 = pd.merge(df_title_principals, df_name_basics, on='nconst', how='inner')

In [ ]:
# filtrer les acteurs 
df_name_basics2= df_name_basics['primaryName'].groupby(['tranche_10_ans', 'nconst'])

# Trouver l'acteur avec le plus de films pour chaque tranche
df_top_actors = df_name_basics.value_counts.loc[df_name_basics2.groupby('tranche_10_ans')['tconst_count'].idxmax()]

# joindr les noms d'acteur
df_top_actors = pd.merge(df_top_actors, df_name_basics, on='nconst', how='inner')
df_top_actors = df_top_actors.drop_duplicates()

In [ ]:
# IDEE

# Définir la plage des années
start_year = df_title_basics['startYear'].min()  # Année minimale dans les données
end_year = df_title_basics['startYear'].max()    # Année maximale dans les données
step = 10                      # Intervalle de 10 ans

# Résultat final stocké dans une liste
result_list = []

for year in range(start_year, end_year + 1, step):
    # Définir l'intervalle de 10 ans
    start = year
    stop = year + step

    # jointure merge 
    # Filtrer les films de cette période
    df_filtered = df_combined [(df_combined['year'] >= start) & (df_combined['year'] < stop)]

    if not df_filtered.empty:
        # Compter les occurrences par acteur
        actor_counts = df_filtered['nconst'].value_counts()

        # Trouver l'acteur avec le plus de films
        df_top_actors = df_top_actors.value_counts().idxmax()
        top_count = df_top_actors.value_counts().max()

        # Ajouter au résultat
        result_list.append({
            'decade_start': start,
            'decade_end': stop - 1,
            'actor': df_top_actors,
            'film_count': top_count
        })

# Convertir le résultat en DataFrame
result_df = pd.DataFrame(result_list)

# Afficher le résultat
print(result_df)